Package: skudonet
Version: 7.2.1
Maintainer: Skudonet SL <skudonet-ce-users@skudonet.com>
Architecture: amd64
Section: admin
Priority: optional
Description: Skudonet Load Balancer Community Edition 7
 Skudonet is a Multilayered Aplication Delivery Controller (ADC) and high performance load balancer whith an easy configuration, usability and user-friendly web GUI for layer 3, 4 and 7 networking management.
Depends: nftables, linux-headers-amd64 (>= 6.1.0), linux-image-amd64 (>= 6.1.0), rrdtool, libnet-netmask-perl, libproc-daemon-perl, libnetwork-ipv4addr-perl, librrds-perl, rsyslog, libio-interface-perl, libdata-validate-ip-perl, libpcap0.8, ntpdate, libfile-grep-perl, iputils-arping, openssl, unzip, libev4, libjson-perl, libjson-xs-perl, libcgi-session-perl, libauthen-simple-perl, libauthen-simple-passwd-perl, isc-dhcp-client, conntrack, liburi-perl, libtimedate-perl, libconfig-tiny-perl, snmpd, libnet-ssleay-perl, libnetaddr-ip-perl, libswitch-perl, libcgi-simple-perl, libunix-syslog-perl, monitoring-plugins, monitoring-plugins-common, net-tools, cherokee (>= 1.2.109 ), pound (>=3.0.4 ) , libregexp-ipv6-perl, nftlb (>= 1.0.8 ), curl, libcrypt-openssl-x509-perl, certbot
